* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: #FF7573;
}

header {
    background-color: #FF7573;
    color: #eeeeee;
    padding: 15px 0;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #eeeeee;
    text-decoration: none;
    font-weight: bold;
}

#main_img {
    background-image: url('img/Bakery_1.jpeg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FF7573;
}

.img-content {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
}

.img-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff9796;
    color: #eeeeee;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.img-button:hover {
    background-color: #FF7573;
}

footer {
    background-color: #444444;
    color: #FF7573;
    text-align: center;
    padding: 10px 0;
}

/* Servicios Styling */
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#servicios {
    background-color: #444444;
    padding: 20px;
    text-align: left;
}

#servicios h2 {
    color: #eeeeee;
    margin-bottom: 15px;
}

#servicios ul {
    list-style-type: circle;
    margin-left: 20px;
}

#servicios li {
    margin-bottom: 10px;
}

/* Nosotros Styling */
#nosotros {
    background-color: #333333;
    padding: 20px;
    text-align: left;
}

#nosotros h2 {
    color: #eeeeee;
    margin-bottom: 15px;
}

/* Cursos Styling */
#cursos {
    background-color: #444444;
    padding: 20px;
    text-align: left;
}

#cursos h2 {
    color: #eeeeee;
    margin-bottom: 15px;
}

#cursos ul {
    list-style-type: circle;
    margin-left: 20px;
}

#cursos li {
    margin-bottom: 10px;
}

/* Contacto Styling */
#contacto {
    background-color: #333333;
    padding: 20px;
    text-align: left;
}

#contacto h2 {
    color: #eeeeee;
    margin-bottom: 15px;
}

#contacto p {
    margin-bottom: 10px;
}

/* Formulario Styling */
#formulario {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px 40px;
    background-color: #444444;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #555555; /* Fondo de los campos de formulario */
    color: #FF7573; /* Texto de los campos de formulario */
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #ff9796;
    color: #333333; /* Texto del botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #FF7573;
}

fieldset {
    border: none;
    margin-top: 20px;
    display: flex; /* Agregamos display flex para alinear elementos */
    align-items: center; /* Alineamos elementos verticalmente */
}

fieldset label {
    margin-top: 0; /* Quitamos el margen superior para alinear verticalmente */
    margin-right: 10px; /* Agregamos margen derecho para separar los elementos */
}

/* Hover Effects */
#contacto p:hover {
    color: #0056b3;
    cursor: pointer;
}

/* Estilos para pantallas de celulares */
@media screen and (max-width: 576px) {
    #servicios, #nosotros, #contacto, #cursos {
        text-align: center;
    }

    #servicios ul, #cursos ul {
        list-style-type: none;
        padding: 0;
    }
}

/* Estilos para pantallas de tabletas */
@media screen and (min-width: 577px) and (max-width: 992px) {
    #servicios, #nosotros, #contacto, #cursos {
        text-align: center;
    }

    #servicios ul, #cursos ul {
        list-style-type: none;
        padding: 0;
    }
}

/* Estilos para pantallas de escritorio */
@media screen and (min-width: 993px) {
    #servicios, #nosotros, #contacto, #cursos {
        /* Estilos para escritorio aquí */
    }

    #servicios ul, #cursos ul {
        /* Estilos para escritorio aquí */
    }
}
